.container {
  margin: 0.8rem;
  border: 0.5px solid grey;
  border-radius: 5px;
  box-sizing: content-box;
  box-shadow: 2px 2px 10px grey;
  background-color: black;
}

.container a {
  text-decoration: none;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 15rem;
  margin-top: 18px;
}

.classRide {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: rgb(226, 27, 183);
  margin-top: 3px;
  font-weight: bold;
}

.classResistance {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: rgb(0, 225, 255);
  margin-top: 3px;
  font-weight: bold;
}

.instructor {
  text-transform: uppercase;
  color: white;
  transition: color 0.3s;
}

.instructor a {
  text-decoration: none;
}

.instructor:hover {
  color: rgb(255 193 7);
}

.content {
  color: white;
  text-align: center;
  font-size: 22px;
}

.content p {
  margin: 4px;
  margin-top: 0px;
}

.book {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.button {
  background-color: rgb(0 0 0);
  color: white;
  border: 1px solid rgb(255 255 255);
  width: 30%;
  padding: 7px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(255 193 7);
  border: 1px solid rgb(255 193 7);
  color: black;
}
