.classesContainer h2 {
  padding: 10px;

  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
