.container {
  /* transition: transform 0.5s; */
  transition: background-color 0.5s;
  margin: 0.8rem;
  border: 0.5px solid grey;
  border-radius: 5px;
  box-sizing: content-box;
  box-shadow: 2px 2px 10px grey;
  background-color: white;
}

.container a {
  text-decoration: none;
}

.container:hover {
  /* transform: scale(1.1); */
  background-color: rgb(166, 217, 241);
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 15rem;
  /*width: 26rem;*/
  /*height: 24rem;*/
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.detailsContainer div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.detailsContainer h2 {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 4.5rem;
}

.title {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.subtitle {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

.description {
  color: black;
  text-align: left;
  font-size: 25px;
  margin-left: 25px;
}

.price {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-size: 3rem;
}

.buy {
  padding-top: 10px;
  padding-bottom: 20px;
}

.button {
  background-color: rgb(0 0 0);
  color: white;
  border: 1px solid rgb(255 255 255);
  margin-left: 35%;
  width: 30%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(255 193 7);
  border: 1px solid rgb(255 193 7);
  color: black;
}
