.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 26rem;
  height: 30rem;
  border: 0.5px solid grey;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
}
.detailsContainer img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.detailsContainer div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.detailsContainer h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.container {
  transition: transform 0.5s;
  margin: 0.8rem;
  opacity: 0.8;
}

.container a {
  text-decoration: none;
}

.container:hover {
  transform: scale(1.1);
  opacity: 1;
}
