.purchaseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchaseContainer h2 {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}

.tableContainer {
  width: 100%;
  padding: 0 10px;
}

.table {
  color: white;
  /* font-size: 2rem; */
  font-size: max(0.65rem, 1.5vw);
  text-align: center;
}
