.classDetailsContainer h2 {
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.classDetailsContainer a {
    text-decoration: none;
}

.backButton {
    background-color: rgb(0 0 0);
    font-size: 90px;
    color: white;
    border: none;
    transition: background-color 0.3s;
    height: 10px;
    text-align: left;
    padding: 0 5%;
}

.backButton:hover {
    color: rgb(255 193 7);
}

.classHeader {
    /* border: 1px solid white; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
    margin-top: 50px;
}

.title {
    /* border: 1px solid white; */
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.classRide {
    color: rgb(226, 27, 183);
    font-weight: bold;
}

.classResistance {
    color: rgb(0, 225, 255);
    font-weight: bold;
}

.instructor {
    color: white;
    transition: color 0.3s;
    text-decoration: none;
}

.instructor a {
    text-decoration: none;
}

.instructor:hover {
    color: rgb(255 193 7);
}

.layoutContainer {
    width: 80%;
    height: 700px;
    margin: 30px auto 0;
    color: rgb(160, 160, 160);
    border: 1px solid white;
    text-align: center;
}

.instructorBox {
    width: 30%;
    margin: auto;
    padding-top: 20px;
    font-size: 30px;
    border: 1px solid white;
    color: white;
}

@media screen and (max-width: 1024px) {
    .layoutContainer {
        width: 80%;
        height: 700px;
        margin: 30px auto 0;
        color: rgb(160, 160, 160);
        border: 1px solid white;
        text-align: center;
        overflow: auto;
        white-space: nowrap;
    }

    .instructorBox {
        width: fit-content;
        margin: 0 320px;
        padding: 20px 20px 0;
        font-size: 30px;
        border: 1px solid white;
        color: white;
    }
}