.reviewsContainer h2 {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.reviewsForm {
  margin: auto;
  max-width: 500px;
  padding: 0 20px;
}

.create {
  background-color: rgb(0 0 0);
  border: 1px solid rgb(255 255 255);
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  transition: background-color 0.3s;
}

.create:hover {
  background-color: rgb(255 193 7);
  border: 1px solid rgb(255 193 7);
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
