@font-face {
  font-family: "Charlotte";
  src: local("Charlotte"), url("./fonts/Charlotte/Charlotte.otf") format("truetype")
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Charlotte";
}