@font-face {
  font-family: "Charlotte";
  src: url("src/fonts/Charlotte/Charlotte.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Charlotte";
}
